.input_field {
	display: block;
	+ .input_field {
		margin-top: 1rem;
	}

	label {
		display: block;
		margin-bottom: 0.5rem;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'] {
		width: 100%;
		border: 2px solid #dcdcdc;
		border-radius: 0.25rem;
		padding: 0.25rem 0.5rem;
		height: 2.5rem;
		&::placeholder {
			color: #dfdfdf;
		}
	}
}
