.private_layout {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding-top: 3.75rem;
}

.private_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.75rem;
	background-color: #323232;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	button {
		display: inline-flex;
		padding: 0.5rem 1rem;
		background-color: #fff;
		border-radius: 0.25rem;
	}
}

.private_container {
	width: 100%;
	height: 100%;
	padding: 1rem;
}
