.button {
	display: block;
	width: 100%;
	height: 3rem;
	border: 0;
	border-radius: 0.5rem;
	background-color: #5322e0;
	background: linear-gradient(270deg, #5322e0 3.82%, #5fafd4 105.73%);
	color: #fff;
}
